[user]
	name = Jorge Luis Sacristan
	email = asirjorge@gmail.com
[core]
	pager = diff-so-fancy | less --tabs=1,5 -RFX
[color]
	ui = true
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse	
[color "diff-highlight"]
	oldnormal = red bold
	oldhighlight = red bold 52
	newnormal = green bold
	newhighlight = green bold 52
[push]
	default = matching
[help]
	autocorrect = 20
[alias]
        ch = checkout
	st = status
	br = branch
	cm = commit
        l = log
	df = diff
    	lg = log --pretty=format:'%h - %an, %ar : %s' --graph
    	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit --date=relative --branches
	last = log -1 HEAD
	
